* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.question-container {
	width: 100%;
	height: 600px;
	background-image: url(https://picsum.photos/600?grayscale&blur);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.question-container form {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.question-container .question {
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in;
	position: absolute;
	transform: translateY(100%);
	display: flex;
    align-items: center;
    justify-content: center;
}

.controls-container {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 20;
}

input[type=text] {
	width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    height: 35px;
	padding: 0;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
}

input[type=radio] {
	margin-right: 7px;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 2px;
}

input[type=radio]:checked {
	background-color: green;
}
select {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid;
	height: 30px;
	font-size: 17px;
}


.question label {
	width: 200px;
    display: inline-block;
    height: 200px;
    background-color: grey;
    margin: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid black;
}

.question label > span {
	display: flex;
	align-items: center;
    position: absolute;
    bottom: 0;
    margin: 8px;
}

.question label > span > input {
	margin-right: 7px;
}

#ques3 label{
	height: 40px;
	border: 1px solid black;
	display: inline-flex;
	align-items: center;
}

.question > div > button {
	border: none;
    padding: 5px;
    width: 100px;
	border-radius: 5px;
	border: 1px solid black;
}